# Ignore node_modules directory
node_modules/

# Ignore build output directory
<!-- build/ -->

# Ignore development and build tools
src/
public/
config/
scripts/
webpack.config.js
babel.config.js

# Ignore any other files or directories you want to exclude
<!-- file-to-exclude.js
directory-to-exclude/ -->
